[package]
name = "mc-consensus-enclave-impl"
version = "7.1.0"
authors = ["MobileCoin"]
description = '''
This crate contains the actual implementation of a mobilenode enclave.

The intent is that this implementation can be built for one of several
in-enclave configurations:

 1. Simulation mode (sgx-sim)
 1. Pre-release mode (debug, no sgx-sim)
 1. Production mode (no debug, no sgx-sim)

sgx-sim is now applied to crates in build.rs as needed, by reading SGX_MODE env

'''
edition = "2021"
license = "GPL-3.0"
readme = "README.md"
rust-version = { workspace = true }

[features]
default = ["std"]
std = ["mc-consensus-enclave-api/std", "mbedtls/std"]

[dependencies]
mc-account-keys = { workspace = true }
mc-attest-core = { workspace = true }
mc-attest-enclave-api = { workspace = true }
mc-attest-trusted = { workspace = true }
mc-blockchain-types = { workspace = true }
mc-common = { workspace = true }
mc-consensus-enclave-api = { workspace = true }
mc-crypto-ake-enclave = { workspace = true }
mc-crypto-digestible = { workspace = true }
mc-crypto-keys = { workspace = true }
mc-crypto-message-cipher = { workspace = true }
mc-rand = { workspace = true }
mc-sgx-compat = { workspace = true }
mc-sgx-report-cache-api = { workspace = true }
mc-transaction-core = { workspace = true }
mc-util-from-random = { workspace = true }
mc-util-serial = { workspace = true }

mbedtls = { workspace = true, features = ["no_std_deps"] }
once_cell = { workspace = true, features = ["alloc", "race"] }
prost = { workspace = true, features = ["prost-derive"] }
rand_core = { workspace = true }
subtle = { workspace = true, features = ["i128"] }

[build-dependencies]
mc-crypto-keys = { workspace = true }
mc-util-build-script = { workspace = true }

cargo-emit = { workspace = true }
hex = { workspace = true }
pem = { workspace = true }

[dev-dependencies]
mc-common = { workspace = true, features = ["loggers"] }
mc-crypto-multisig = { workspace = true }
mc-ledger-db = { workspace = true, features = ["test_utils"] }
mc-transaction-core-test-utils = { workspace = true }

rand = { workspace = true }
rand_hc = { workspace = true }
